<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}My Website{% endblock %}</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <h1>Welcome {{ user.username }}!</h1>
    {% else %}
    <h1>Niste prijavljeni. <a href="/accounts/login">Prijavi se</a></h1>
    {% endif %}

    <div style="display: flex; flex-direction: column">
      <a href="/products">Products</a>
      <a href="/orders">Orders</a>
    </div>
    <hr />
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
